<div id="navbar">
  <div class="navbar-logo">
    <p id="logo">MyBooks</p>
  </div>
  <div class="navbar-menu">
    <ul>
      <li *ngIf="!userService.loggedIn" routerLink="/">Home</li>
      <li *ngIf="userService.loggedIn" routerLink="/profile">Perfil</li>
      <li *ngIf="userService.loggedIn" routerLink="/books">Libros</li>
    </ul>
  </div>
  <div class="navbar-menu auth">
    <ul>
      <li *ngIf="!userService.loggedIn" routerLink="/register">Registro</li>
      <li *ngIf="!userService.loggedIn" routerLink="/login">Login</li>
    </ul>
  </div>
</div>
