<button *ngIf="!displayForm" id="display-form" (click)="openOrCloseForm()">
  Añadir libro
</button>
<div *ngIf="displayForm" id="form">
  <span class="close-icon"
    ><fa-icon (click)="openOrCloseForm()" [icon]="faCircleXmark"></fa-icon
  ></span>
  <input #title type="text" placeholder="Titulo" />
  <input #author type="text" placeholder="Autor" />
  <input #price type="number" placeholder="Precio" />
  <input #photoUrl type="text" placeholder="Photo" />
  <button (click)="addBook(title, author, price, photoUrl)">Añadir</button>
</div>
<div class="finder">
  <input #bookId type="number" placeholder="Id de Libros" />
  <button (click)="findBook(bookId.value)">
    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
  </button>
</div>

<div class="container" *ngIf="books.length > 0; else noBooks">
  <div class="card" *ngFor="let book of books">
    <span class="close-icon"
      ><fa-icon (click)="deleteBook(book.id)" [icon]="faCircleXmark"></fa-icon
    ></span>
    <img [src]="book.photoUrl" alt="" />
    <h2>{{ book.title }}</h2>
    <p>Autor: {{ book.author }}</p>
    <p>{{ book.id | ref }}</p>
    <h2>{{ book.price }}€</h2>
    <button>Comprar</button>
  </div>
</div>
<ng-template #noBooks>
  <div class="container">
    <div class="card">
      <h2>No hay libros</h2>
    </div>
  </div>
</ng-template>
