.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #000;
  padding-left: 10px;
}

button {
  height: 40px;
  border-radius: 5px;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: #fff;
}

button:hover {
  cursor: pointer;
  background-color: #fff;
  color: var(--blue);
  border: 3px solid var(--blue);
}
