<form
  #registerForm="ngForm"
  (ngSubmit)="register(registerForm)"
  ngNativeValidate
>
  <input
    type="text"
    name="firstName"
    placeholder="Nombre"
    [(ngModel)]="user.firstName"
    required
  />
  <input
    type="text"
    name="lastName"
    placeholder="Apellidos"
    [(ngModel)]="user.lastName"
    required
  />
  <input
    type="email"
    name="email"
    placeholder="Email"
    [(ngModel)]="user.email"
    required
  /><input
    type="text"
    name="photoUrl"
    placeholder="Url foto"
    [(ngModel)]="user.photoUrl"
    required
  />
  <button>Enviar</button>
</form>
